.scores {
    position: relative;
    text-align: center;
    margin-bottom: 10px;
}

.scores h5 {
    position: absolute;
    right: 0;
    left: 0;
}

.button-y {
    border-right: 1px solid #a52a2a !important;
}

.button-o {
    border-left: 1px solid #a52a2a !important;
}

.button-yo {
    cursor: default !important;
}

.button-yo:hover {
    background-color: #f2711c !important;
}

.rps {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
}

.rps img {
    cursor: pointer;
}

.rps p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
}

.tranform-img {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
}

.message-info {
    background-color: transparent !important;
    max-width: 350px;
    margin: 10px auto !important;
    font-family: 'Courier New', Courier, monospace;
}

.new-game {
    margin: 0 auto;
    text-align: center;
}

.playing-info {
    background-color: transparent !important;
    max-width: 350px;
    margin: 10px auto !important;
    font-family: 'Courier New', Courier, monospace;
}

/* CreateOrJoinGame.tsx.css */
.select-max-score {
    min-width: auto !important;
}